CREATE TABLE `bill_of_materials` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`product_id` integer NOT NULL,
	`material_id` integer NOT NULL,
	`quantity` real NOT NULL,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`product_id`) REFERENCES `products`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`material_id`) REFERENCES `materials`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE `currencies` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`code` text NOT NULL,
	`name` text NOT NULL,
	`symbol` text NOT NULL,
	`is_active` integer DEFAULT true NOT NULL,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL
);
CREATE UNIQUE INDEX `currencies_code_unique` ON `currencies` (`code`);
CREATE TABLE `exchange_rates` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`currency_id` integer NOT NULL,
	`rate_to_base` real NOT NULL,
	`effective_date` integer DEFAULT (unixepoch()) NOT NULL,
	`source` text DEFAULT 'manual' NOT NULL,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`currency_id`) REFERENCES `currencies`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `material_price_history` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`material_id` integer NOT NULL,
	`purchase_currency_id` integer NOT NULL,
	`price_in_purchase_currency` real NOT NULL,
	`price_in_base_currency` real NOT NULL,
	`changed_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`material_id`) REFERENCES `materials`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`purchase_currency_id`) REFERENCES `currencies`(`id`) ON UPDATE no action ON DELETE no action
);
CREATE TABLE `materials` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`sku` text,
	`description` text,
	`category` text NOT NULL,
	`unit` text NOT NULL,
	`bulk_quantity` real NOT NULL,
	`bulk_price` real NOT NULL,
	`purchase_currency_id` integer NOT NULL,
	`price_in_purchase_currency` real NOT NULL,
	`price_in_base_currency` real NOT NULL,
	`unit_price` real NOT NULL,
	`supplier` text NOT NULL,
	`is_active` integer DEFAULT true NOT NULL,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	`updated_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`purchase_currency_id`) REFERENCES `currencies`(`id`) ON UPDATE no action ON DELETE no action
);
CREATE TABLE `settings` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`setting_key` text NOT NULL,
	`setting_value` text NOT NULL,
	`updated_at` integer DEFAULT (unixepoch()) NOT NULL
);
CREATE UNIQUE INDEX `settings_setting_key_unique` ON `settings` (`setting_key`);
CREATE TABLE `price_list_items` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`price_list_id` integer NOT NULL,
	`product_id` integer NOT NULL,
	`base_price` real NOT NULL,
	`discount_percentage` real DEFAULT 0 NOT NULL,
	`final_price` real NOT NULL,
	`price_source` text DEFAULT 'base' NOT NULL,
	`notes` text,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`price_list_id`) REFERENCES `price_lists`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`product_id`) REFERENCES `products`(`id`) ON UPDATE no action ON DELETE no action
);
CREATE TABLE `price_lists` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`customer_id` integer,
	`price_level_id` integer NOT NULL,
	`valid_from` integer NOT NULL,
	`valid_until` integer,
	`status` text DEFAULT 'draft' NOT NULL,
	`created_by` text,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	`updated_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`customer_id`) REFERENCES `customers`(`id`) ON UPDATE no action ON DELETE no action,
	FOREIGN KEY (`price_level_id`) REFERENCES `price_levels`(`id`) ON UPDATE no action ON DELETE no action
);
CREATE TABLE IF NOT EXISTS "products" (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`sku` text,
	`description` text,
	`category` text,
	`overhead_percentage` real NOT NULL,
	`profit_margin` real NOT NULL,
	`other_direct_costs` real DEFAULT 0 NOT NULL,
	`production_mode` text DEFAULT 'single',
	`batch_yield` integer DEFAULT 1,
	`current_selling_price` real DEFAULT 0,
	`approval_status` text DEFAULT 'pending' NOT NULL,
	`approved_price` real,
	`approved_by` text,
	`approved_at` integer,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	`updated_at` integer DEFAULT (unixepoch()) NOT NULL
);
CREATE TABLE IF NOT EXISTS "price_levels" (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`adjustment_type` text DEFAULT 'discount' NOT NULL,
	`adjustment_percentage` real DEFAULT 0 NOT NULL,
	`description` text,
	`is_active` integer DEFAULT true,
	`created_at` integer DEFAULT CURRENT_TIMESTAMP NOT NULL,
	`updated_at` integer DEFAULT CURRENT_TIMESTAMP NOT NULL
);
CREATE TABLE IF NOT EXISTS "customers" (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`allow_special_pricing` integer DEFAULT 0 NOT NULL,
	`price_level_id` integer NOT NULL,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	`updated_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`price_level_id`) REFERENCES `price_levels`(`id`) ON UPDATE no action ON DELETE no action
);
CREATE TABLE IF NOT EXISTS "special_pricing" (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`customer_id` integer NOT NULL,
	`product_id` integer NOT NULL,
	`custom_price` real NOT NULL,
	`override_type` text DEFAULT 'custom' NOT NULL,
	`discount_percentage` real,
	`markup_percentage` real,
	`status` text DEFAULT 'pending' NOT NULL,
	`approved_by` text,
	`approved_at` integer,
	`justification` text,
	`created_by` text,
	`created_at` integer DEFAULT (unixepoch()) NOT NULL,
	FOREIGN KEY (`customer_id`) REFERENCES `customers`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`product_id`) REFERENCES `products`(`id`) ON UPDATE no action ON DELETE cascade
);
